body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0.15em;
    margin: 0;
}

p {
    position: relative;
    margin: 0 auto;
    font-size: 50px;
}

button {
    display: relative;
    width: 250px;
    height: 50px;
    border: 4px solid black;
    margin: 0 auto;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 0.75em;
    font-weight: 700;
    transition: all 0.3s ease-out;
}

button:hover{
    cursor: pointer;
    border: 7px solid black;
}

#title {
    position: relative;
    text-align: center;
    top: 25px;
}

#shoe-dock {
    position: relative;
    margin: 0 auto;
    top: 75px;
    width: 512px;
    height: 512px;
    box-shadow: 0px 0px 150px 100px rgba(0, 0, 0, 0.1);
}

#rating-dock {
    position: relative;
    width: 100%;
    top: 125px;
    text-align: center;
}

.emoji {
    width: 75px;
    height: 75px;
    padding-left: 90px;
    padding-right: 90px;
}

.slider {
    position: relative;
    -webkit-appearance: none;
    background: black;
    width: 600px;
    top: 25px;
    height: 10px;
    margin: 0 auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border: 4px solid black;
    cursor: pointer;
    z-index: 1;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: white;
    border: 4px solid black;
    cursor: pointer;
    z-index: 1;
}

input[type=range]:focus {
    outline: 0;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

#button-dock {
    position: relative;
    top: 200px;
    text-align: center;
}